{% extends 'base.html' %} {% load static %} {% block content %}
<main class="container my-4">
  <!-- Featured Products -->
  <h3 class="my-4 border-bottom pb-1">Brands</h3>
  <div class="row">
    {% if data %} {% for brand in data %}
    <div class="col-md-3 mb-4" style="text-align:center;" >
      <div class="card shadow mt-5" style="text-align=center;" >
        <a href="/brand-product-list/{{brand.id}}"
          ><img
            style="width: 100%; height: 15vw; object-fit: contain"
            src="/media/{{brand.image}}"
            class="card-img-top"
            alt="{{brand.title}}"
        /></a>
        <div class="card-body" >
          <h4 class="card-text"><a href="#">{{brand.title}}</a></h6>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</main>
{% endblock %}
